
<%= form_with model: post do |f| %>

  <div class="form-inputs">
    <%= f.text_field :title, class: "form-control string" %>
    <br>
    <%= f.label :thumbnail , class: "form-control" %>
    <%= f.file_field :thumbnail %>
<br>
    <%= f.label :banner , class: "form-control" %>
    <%= f.file_field :banner %><br>
    <br>
    <%= f.label :body %>
    <%= f.rich_text_area :body %>   
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
